<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Vue Hello</title>
</head>

<body>
    <div id="app">
        <h1>{{ message }}</h1>
        <label for="messaggio">Cambia il testo</label>
        <input id="messaggio" type="text" v-model="message">
        <label for="foto">Cambia foto tramite url</label>
        <input id="foto" type="text" v-model="image">

        <div>
            <img :src="image" @click="sorpresa">
        </div>


    </div>

    <script src="./js/vue-hello.js"></script>
</body>

</html>